html, body {
	height: 100%;
	width: 100%;
	position: relative;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: 'Lato';
}

#main {
	position: relative;
	width: 510px;
	height: 510px;
	margin: 20px auto;
}

.line {
	height: 1px;
	margin-bottom: 1px;
}

.column {
	float: left;
	height: 100%;
	width: 20%;
}

h1 {
	font-size: 100px;
	margin: 20px auto;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
	font-size: 80px;
}

img {
	margin: 20px auto;
	height: 250px;
	width: 250px;
	border-radius: 100%;
}