/* general */
html, body {
	position: relative;
	height: 100%;
}
body {
	text-align: center;
	margin: 0;
	font-family: 'Lato';
}
section, #front-page, footer {
	display: none;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/* front page */
h3 {
	font-size: 20px;
	letter-spacing: 2px;
	margin: 10px;
}
h1 {
	font-size: 50px;
	margin: 10px;
}
#kotare {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

/* waves */
section {
	position: relative;
	margin: 0 auto;
	width: 500px;
	overflow: auto;
}
h2 {
	font-size: 25px;
	margin: 30px;
}
.wave {
	float: left;
	width: 20%;
}
.character {
	width: 20%;
	float: left;
	font-size: 60px;
	padding-top: 10px;
}
.line {
	height: 1px;
	margin-bottom: 1px;
}


/* footer */
footer {
	margin-top: 30px;
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid black;
	transition: 0.5s;
}
a:hover {
	border-bottom-color: rgba(0,0,0,0);
}