html, body {
	position: relative;
	height: 100%;
}
body {
	text-align: center;
	margin: 0;
	font-family: 'Lato';
}
section {
	position: relative;
	margin: 0 auto;
	width: 500px;
	display: none;
	overflow: auto;
}
.character {
	width: 20%;
	float: left;
	font-size: 60px;
	padding-top: 10px;
}
.line {
	height: 1px;
	margin-bottom: 1px;
}
.wave {
	float: left;
	width: 20%;
}
h1 {
	font-size: 100px;
	margin: 20px auto;
}
h2 {
	font-size: 25px;
	margin: 30px;
}
p {
	margin: 0;
	font-size: 80px;
}
img {
	margin: 20px auto;
	height: 250px;
	width: 250px;
	border-radius: 100%;
}
footer {
	margin-top: 30px;
	display: none;
	position: relative;
	text-align: center;
	width: 100%;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid black;
	transition: 0.5s;
}
a:hover {
	border-bottom-color: rgba(0,0,0,0);
}